*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    background: url("flowers.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* background: url(gradiant.jpg); */
    background: rgba(73, 155, 255, 0.2);
    background-size: cover;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
}

.upperrow{
    display: flex;
    justify-content: space-evenly;
}

.content .upperrow button{
    padding: 10px 50px;
}

.content .upperrow .counting{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border: 1px solid rgb(78, 78, 78);
    border-radius: 15px;
    padding: 10px 40px;
    background: white;
    font-size: 40px;
    margin: 0 20px;
}

.bottomrow .neutral{
    padding: 10px 100px;
    margin-top: 40px;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

button{
    border-radius: 5px;
    font-size: 20px;
}

button:hover{
    color: white;
    cursor: pointer;
}

.increment:hover{
    transition: 0.3s;
    background: rgb(23, 187, 23);
}

.decrement:hover{
    transition: 0.3s;
    background: orangered;
}

.neutral:hover{
    transition: 0.3s;
    background: rgb(36, 139, 190);
}

.increment{
    background-color: rgb(185, 255, 185);
}

.decrement{
    background-color: rgb(254, 116, 116);
}

.neutral{
    background-color: rgb(148, 208, 238);
}