.container {
  max-width: 100% !important;
}

.col-md-3 {
  color: white !important;
}

h3 {
  margin-top: 10px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

img {
  border: 5px solid white !important;
  border-radius: 15px;
  padding: 0 !important;
}

body {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

#navbar {
  margin: auto;
  border-radius: 30px;
  color: white;
  width: 75%;
  /* background-image: linear-gradient(
    83.2deg,
    rgb(233, 93, 149) 10.8%,
    rgb(238, 213, 88) 94.3%
  ); */

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#title {
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 20px;
  padding: 0 10px;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* color: #6bee81; */
  font-size: 50px;
  font-weight: 700;
}

ul li {
  margin: 15px 5px 0 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}

ul li:hover {
  color: black;
}

@media (max-width: 800px) {
  .container {
    padding: 75px !important;
  }
  #title {
    font-size: 30px;
    margin: 0px !important;
    padding: 0px !important;
  }
  ul {
    margin: 0;
  }
}
